* {
    font-family: Arial, sans-serif;
    /* border: 1px solid red; */
}

.head {
    text-align: center;
    margin: 45px;
    padding: 10px;
}

.placeholder {
    margin: 5px;
    padding: 5px;
}

.placeholder-img {
    margin: 5px;
}

h1 {
    font-weight: normal;
}

.container {
    margin: 5px;
}

.box {
    margin: 5px 37%;
}

.sign-in {
    margin: 5px 25px;
    border: 1px solid lightgray;
    height: 320px;
}

.inner-box {
    padding: 5px 25px;
}

h1 {
    margin: 2px 0px;
    font-size: 28px;
}

.user {
    margin-top: 10px;
    font-size: 15px;
    padding: 0px 0px 10px;
}

.email {
    margin: 10px 0px;
}

.password {
    margin: 10px 0px;
}

.text {
    margin-left: 43px;
}

.forgot {
    float: right;
    text-decoration: none;
    color: #0066c0;
}

input {
    align-items: center;
    height: 35px;
    width: 98%;
    border: 1px solid gray;
    border-radius: 3px;
}

.continue {
    margin: 15px 0px;
}

.button {
    background-color: rgba(255, 166, 0, 0.644);
    height: 30px;
    width: 100%;
    border: 1px solid gray;
}

.help {
    margin: 25px 15px;
}

.help-link {
    color: #0066c0;
    text-decoration: none;
}

.new{
    text-align: center;
    padding: 10px 25px;
    margin: 0px 20px;
}

.strike {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid black; 
    line-height: 0.01em;
    margin: 10px 0 10px; 
}

.strike-text {
    background-color: white;
    padding: 10px;
    border: 1px hidden;
    color: gray;
}

.create {
    margin: 10px 40px;
    text-align: center;
}

hr {
    margin: 50px;
}

.footer {
    text-align: center;
}

.footer-link {
    margin-bottom: 20px;
    font-size: 12px;
}

.condition, .privacy {
    color: #0066c0;
    text-decoration: none;
}

.tm {
    font-size: 11px;
}